<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <title>Desafio</title>
    </head>

    <body>
        <h1>Desafio</h1>
        <h4>O desafio consiste em fazer uma calculadora que guarda os valores já utilizados</h4>

        <form method="POST">
            
            <select name="operacao">
                
                <option value="soma" {% if operacao == "soma" %}selected{% endif %}>Soma</option>
                <option value="subtracao" {% if operacao == "subtracao" %}selected{% endif %}>Subtração</option>
                <option value="multiplicacao" {% if operacao == "multiplicacao" %}selected{% endif %}>Multiplicação</option>
                <option value="divisao" {% if operacao == "divisao" %}selected{% endif %}>Divisão</option>
                <option value="potencia" {% if operacao == "potencia" %}selected{% endif %}>Potência</option>

            </select>

                <input type="number" name="number1" value="{{ number1 }}">
                <input type="number" name="number2" value="{{ number2 }}">

                <button>Enviar</button>
        </form>

        <h4>{{ mensagem }}</h4>

        <h4> {{ mensagem_resultado }} </h4>

    </body>
</html>